<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <title>{{ title }}</title>
</head>
<body class="bg-light">

<div class="container">
  <main>
  {% block nav %}{% endblock %}
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://hdservice.pro/hdservice.png" alt="" width="525" height="175">
      <h2> {{ title }}</h2>
      <p class="lead">
          {% block info %}{% endblock %}
      </p>
    </div>
  </main>

    {% block data %}{% endblock %}

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2022 HDService</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://hdservice.pro" target="_blank">Privacy</a></li>
      <li class="list-inline-item"><a href="https://hdservice.pro" target="_blank">Terms</a></li>
      <li class="list-inline-item"><a href="https://hdservice.pro" target="_blank">Support</a></li>
    </ul>
  </footer>
</div>
</body>
</html>