{% extends 'base.html' %}

{% block nav %}
    <div class="alert alert-success"><a href="/" class="link-dark"><strong>ВЕРНУТЬСЯ К ПОИСКУ</strong></a></div>
{% endblock %}

{% block info %}
    <hr class="my-4">
    <p class="fw-normal text-start">{{ area }}</p>
    <p class="fw-normal text-start"><a href="{{ site_url }}" target="_blank">{{ site_url }}</a></p>
    <p class="fw-normal text-start text-success">Открытых вакансий: <strong>{{ open_vacancies }}</strong></p>
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <p class="fw-normal text-start"><small>{{ description | striptags }}</small></p>
    </div>
{% endblock %}



{% block data %}
    <h3>ВАКАНСИИ:</h3>
    <p class="fw-lighter"><small>* представленые первые 20 открытых вакансий компании</small></p>
    <hr class="my-4">
    {% for v in vacancies %}
        <ul class="list-group">
            <li class="list-group-item"><strong>{{ v.name }}</strong></li>
            <li class="list-group-item"><a href="{{ v.alternate_url }}" target="_blank"><small>{{ v.alternate_url }}</small></a></li>
            <li class="list-group-item"><small>{{ v.snippet.requirement }}</small><br><small>{{ v.snippet.responsibility }}</small></li>
        </ul>
        <br>
    {% endfor %}
{% endblock %}