{% extends 'base.html' %}

{% block info %}Поиск производится по базе HeadHunter (https://hh.ru/){% endblock %}

{% block data %}
<form method="post">
      <div class="mb-3">
        <label for="firstName" class="form-label">Поиск:</label>
        <input type="text" class="form-control" name="find" id="find" placeholder="HDService">
        <div id="emailHelp" class="form-text">Переданное поисковое значение ищется в названии и описании компании. Поиск с пустым значением вернет первые 20 компаний.</div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="w-10 btn btn-primary btn-lg" type="submit">П О И С К</button>
      </div>
</form>

    <hr class="my-4">

    <br>

    {% for c in company %}
        <ul class="list-group">
            <li class="list-group-item"><strong>{{ c.name }}</strong></li>
            <li class="list-group-item"><small>Компания на HH:</small> <a href="{{ c.alternate_url }}" target="_blank">{{ c.alternate_url }}</a></li>
            <li class="list-group-item"><small>Количество открытых вакансий:</small> <strong>{{ c.open_vacancies }}</strong></li>
            <li class="list-group-item"><a href="{{ url_for('company', id=c.id) }}"><strong>ПОДРОБНЕЕ</strong></a> </li>
        </ul>
        <br>
    {% endfor %}
{% endblock %}